<div class="main-container d-flex">

    <div class="content">


        <div class="dashboard-content px-3 pt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Price</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let hero of heroes">
                        <th scope="row">{{hero.id}}</th>
                        <td>{{hero.name}}</td>
                        <td>{{hero.brand}}</td>
                        <td>{{hero.price}}</td>
                        <td>{{hero.discount}}</td>
                        <td><img style="width: 10rem;"  [src]="hero.imageURL"></td>
                    </tr>
            
                  
                </tbody>
              
            </table>
        </div>
    </div>
</div>